<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Qunit test</title>
    <link rel="stylesheet" href="https://code.jquery.com/qunit/qunit-2.0.0.css">
</head>
<body>
    <div id="qunit"></div>
    <div id="qunit-fixture"></div>
    <script src="https://code.jquery.com/qunit/qunit-2.0.0.js"></script>
    <script>
        var Q = QUnit;
//        var Qtest = function(title, ) {
//            Q.test
//        }

        var assert = {
            ok : function (title, isTrue, successMsg) {
                QUnit.test( title, function(assert) {
                    assert.ok( isTrue, successMsg );
                });
            }
        }
//        function helloWorld() {
//            Q.test( "hello test", function( assert ) {
//                assert.ok( 1 == "1", "Passed!" );
//            });
//        }
    </script>
</body>
</html>